body{
    background-color: rgb(128,128,128);
}
body .center{
    margin-left: 30%;
    margin-top: 10%;
    height: 97%;
    width: 35%;
    border: solid 0px;
    background-color: rgb(247,247,247);
}
body .center .center-inside{
    margin-left: 5%;
    margin-top: 20%;
    height: 80%;
    width: 86%;
    color:rgb(247,247,247);
    border: solid 1px;
}
body .center .center-inside div .boxstyle[type=button]{
    background-color: rgb(77,144,254);
}


body .center .center-inside .center-text{
    font-size: 206%;
    margin-left: 6%;
    margin-top:  12%;
    color: #222222;
}
body .center .center-inside div .boxstyle{
    height: 3em;
    width: 91%;
    border: solid;
    margin-left: 22px;
    margin-top: 27px;
    color:white;
}
body .center .center-inside div .boxstyle:focus{
    border: solid 2px green;
}
body .center .center-inside div .forgot-passward{
    margin-left: 20px;
    margin-top: 15px;
    font-size:14px;
    font-style: oblique;
    color:rgb(175,175,175);
}


